p {
    box-sizing: border-box;
}
p {
    margin: 6px;
    padding: 6px;
    border: 4px solid #DB7672;
    width: 300px;
    inline-size: 300px;
    height: 100px;
    block-size: 100px;
    background-color: #61A847;
}

.my-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 100px;
  }

  .has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
  }

  .has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
  }